<div class="container">
  <h1>My tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
    <li>
      <i class="fa-regular fa-square<%= '-check' if task.completed %>"></i> <%= link_to task.title, task_path(task) %> · <%= link_to "Delete", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
    <% end %>
  </ul>
  <%= link_to "Add a new task", new_task_path %>
</div>
